[Unit]
Description=Forgotten Prophets Discord Bot
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=-/etc/discord-bot/tokens.env
ExecStartPre=-/bin/bash -c '/usr/bin/docker rm -f fp-discord-bot'
ExecStart=/usr/bin/docker run --name=fp-discord-bot \
                              --env-file=/etc/discord-bot/tokens.env \
                              cronym/fp-discord-bot:${VERSION}
ExecStop=/bin/bash -c '/usr/bin/docker stop fp-discord-bot'
Restart=always

[Install]
WantedBy=multi-user.target
